{% comment %}
	@pp blocks/static-pagepilot-quantity 1.0.10
{% endcomment %}

{%- doc -%}
	@param {number} [in_cart_quantity] - the quantity in the cart to set the input value
	@param {number} [line_index] - the index of the forloop representing the line on which the quantity selector is rendered
	@param {number} [min] - the minimum quantity the input supports
	@param {boolean} [can_update_quantity] - whether the quantity can be updated, defaults to true
{%- enddoc -%}

{% liquid
	if closest.product != null
		assign product = closest.product
	endif

	assign variant = product.selected_or_first_available_variant
%}

{% liquid
	capture properties
		echo '--margin-bottom: ' | append: block.settings.margin_bottom | append: 'px;'

		echo '--input-width: ' | append: block.settings.input_width | append: '%;'
		echo '--input-height: ' | append: block.settings.input_height | append: 'px;'
		echo '--input-text-color: ' | append: block.settings.input_text_color | append: ';'
		echo '--input-hover-text-color: ' | append: block.settings.input_hover_text_color | append: ';'
		if block.settings.input_background_color != blank
			echo '--input-background-color: ' | append: block.settings.input_background_color | append: ';'
		endif

		if block.settings.input_border != 'none' and block.settings.input_border_color != blank
			echo '--input-border-width: ' | append: block.settings.input_border_width | append: 'px;'
			echo '--input-border-color: ' | append: block.settings.input_border_color | append: ';'
		endif

		if block.settings.input_box_shadow_color != blank
			echo '--input-box-shadow: ' | append: block.settings.input_box_shadow_color | append: ';'
		endif

		echo '--text-gap: ' | append: block.settings.text_gap | append: 'px;'
		echo '--text-color: ' | append: block.settings.text_color | append: ';'
		echo '--text-font-size: ' | append: block.settings.text_font_size | append: 'px;'
		echo '--text-font-size-mobile: ' | append: block.settings.text_font_size_mobile | append: 'px;'
		echo '--text-weight: ' | append: block.settings.text_weight | append: ';'
	endcapture

	assign classes = 'pp-quantity'
	if block.settings.show_quantity == false
		assign classes = classes | append: ' pp:hidden'
	endif
	assign classes = classes | append: ' ' | append: block.id

	assign quantity_selector_classes = 'pp-quantity-selector__group'
	if block.settings.custom_class != blank
		assign quantity_selector_classes = quantity_selector_classes | append: ' ' | append: block.settings.custom_class
	endif

	assign quantity_selector_classes = quantity_selector_classes | append: ' pp:mt-(--margin-top) pp:mb-(--margin-bottom) pp:flex pp:h-(--input-height) pp:w-(--input-width) pp:items-center pp:self-stretch pp:overflow-hidden pp:bg-(--input-background-color) pp:text-(--input-text-color) pp:hover:text-(--input-hover-text-color)!'

	assign quantity_selector_classes = quantity_selector_classes | append: ' pp:relative pp:z-1 pp:overflow-hidden pp:before:absolute pp:before:inset-0 pp:before:z-[-1] pp:before:bg-white/0 pp:before:content-[""]'
	assign quantity_selector_classes = quantity_selector_classes | append: ' pp:transition-all pp:duration-200'
	assign quantity_selector_classes = quantity_selector_classes | append: ' pp:before:transition-all pp:before:duration-200 pp:hover:before:bg-white/20'

	capture border_classes
		render 'pagepilot-border', value: block.settings.input_border, prefix: 'pp:', width_property: '--input-border-width', color_property: '--input-border-color'
	endcapture

	assign quantity_selector_classes = quantity_selector_classes | append: ' ' | append: border_classes

	capture border_radius
		render 'pagepilot-border-radius', value: block.settings.input_border_radius, prefix: 'pp:'
	endcapture

	assign quantity_selector_classes = quantity_selector_classes | append: ' ' | append: border_radius

	if block.settings.input_box_shadow_color != blank
		assign quantity_selector_classes = quantity_selector_classes | append: ' pp:shadow-(--input-box-shadow)'
	endif

	if block.settings.input_border != 'none' and block.settings.input_border_divide_show == true and block.settings.input_border_color != blank
		assign quantity_selector_classes = quantity_selector_classes | append: ' pp:[&>[data-pp-decrement]]:border-r-(length:--input-border-width) pp:[&>[data-pp-decrement]]:border-(--input-border-color) pp:[&>[data-pp-increment]]:border-l-(length:--input-border-width) pp:[&>[data-pp-increment]]:border-(--input-border-color)'
	endif
%}

{% liquid
	assign label_classes = 'pp-quantity-selector__label'
	assign label_classes = label_classes | append: ' pp:mb-(--text-gap) pp:text-(length:--text-font-size-mobile) pp:leading-none pp:font-(--text-weight) pp:text-(--text-color) pp:@3xl:text-(length:--text-font-size)'

	capture text_transform
		render 'pagepilot-text-transform', value: block.settings.text_case
	endcapture
	assign label_classes = label_classes | append: ' ' | append: text_transform

	capture letter_spacing
		render 'pagepilot-letter-spacing', value: block.settings.text_letter_spacing
	endcapture

	assign label_classes = label_classes | append: ' ' | append: letter_spacing
%}

<div style='{{ properties }}' class='{{ classes }}'>
	{% if block.settings.text_show == true %}
		<legend class='{{ label_classes }}'>
			{{ block.settings.text }}
		</legend>
	{% endif %}

	<pagepilot-cart-quantity-selector-component
		class='{{ quantity_selector_classes }}'
		{% if line_index == null %}
			{{- block.shopify_attributes -}}
		{% endif %}
		ref='quantitySelectors[]'
	>
		<button
			data-pp-decrement
			class='quantity-minus pp:flex pp:h-full pp:w-10 pp:items-center pp:justify-center pp:disabled:cursor-not-allowed'
			type='button'
			name='minus'
			on:click='/decreaseQuantity'
			ref='minusButton'
			{% if can_update_quantity == false %}
				disabled
			{% endif %}
		>
			<span class='visually-hidden'>Decrease Quantity</span>
			<span class='svg-wrapper icon-minus'>
				<svg
					width='14'
					height='14'
					viewBox='0 0 24 24'
					fill='none'
					stroke='currentColor'
					stroke-width='var(--icon-stroke-width)'
					stroke-linecap='round'
					stroke-linejoin='round'
					xmlns='http://www.w3.org/2000/svg'
				>
					<path d='M5 12h14' />
				</svg>
			</span>
		</button>
		<input
			type='number'
			name='{% if line_index %}updates[]{% else %}quantity{% endif %}'
			value='{{ in_cart_quantity | default: 1 }}'
			min='{{ min | default: 1 }}'
			on:blur='/setQuantity'
			on:focus='/selectInputValue'
			ref='quantityInput'
			aria-label='Quantity'
			{% if line_index %}
				data-cart-line='{{ line_index | plus: 1 }}'
			{% endif %}
			{% if variant.quantity_rule.max %}
				max='{{ variant.quantity_rule.max }}'
			{% endif %}
			step='{{ variant.quantity_rule.increment | default: 1 }}'
			{% if can_update_quantity == false or variant.available == false %}
				disabled
			{% endif %}
			class='pp:flex pp:h-full pp:w-12 pp:flex-1 pp:appearance-none! pp:bg-transparent! pp:border-none! pp:outline-none! pp:text-center pp:focus:outline-none'
		>
		<button
			data-pp-increment
			class='quantity-plus pp:flex pp:h-full pp:w-10 pp:items-center pp:justify-center pp:disabled:cursor-not-allowed'
			type='button'
			name='plus'
			on:click='/increaseQuantity'
			ref='plusButton'
			{% if can_update_quantity == false %}
				disabled
			{% endif %}
		>
			<span class='visually-hidden'>Increase Quantity</span>
			<span class='svg-wrapper icon-plus'>
				<svg
					width='14'
					height='14'
					viewBox='0 0 24 24'
					fill='none'
					stroke='currentColor'
					stroke-width='var(--icon-stroke-width)'
					stroke-linecap='round'
					stroke-linejoin='round'
					xmlns='http://www.w3.org/2000/svg'
				>
					<path d='M5 12h14' />
					<path d='M12 5v14' />
				</svg>
			</span>
		</button>
	</pagepilot-cart-quantity-selector-component>
</div>

{% schema %}
{
	"name": "Quantity (PP)",
	"class": "pagepilot-block",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_quantity",
			"label": "Show Quantity",
			"default": false
		},
		{
			"type": "header",
			"content": "Label",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "checkbox",
			"id": "text_show",
			"label": "Show Text",
			"default": true,
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "text_gap",
			"label": "Gap",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 6,
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "text",
			"id": "text",
			"label": "Text",
			"default": "Quantity",
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text Color",
			"default": "#212529",
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "text_font_size",
			"min": 10,
			"max": 70,
			"step": 1,
			"unit": "px",
			"label": "Size",
			"default": 12,
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "text_font_size_mobile",
			"min": 10,
			"max": 70,
			"step": 1,
			"unit": "px",
			"label": "Mobile Size",
			"default": 12,
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "select",
			"id": "text_weight",
			"label": "Weight",
			"options": [
				{
					"value": "100",
					"label": "Thin"
				},
				{
					"value": "300",
					"label": "Light"
				},
				{
					"value": "400",
					"label": "Regular"
				},
				{
					"value": "500",
					"label": "Medium"
				},
				{
					"value": "600",
					"label": "Semibold"
				},
				{
					"value": "700",
					"label": "Bold"
				},
				{
					"value": "900",
					"label": "Black"
				}
			],
			"default": "600",
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "select",
			"id": "text_letter_spacing",
			"label": "Letter Spacing",
			"options": [
				{
					"value": "tight",
					"label": "Tight"
				},
				{
					"value": "normal",
					"label": "Normal"
				},
				{
					"value": "loose",
					"label": "Loose"
				}
			],
			"default": "loose",
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "select",
			"id": "text_case",
			"label": "Case",
			"options": [
				{
					"value": "none",
					"label": "Default"
				},
				{
					"value": "lowercase",
					"label": "Lowercase"
				},
				{
					"value": "uppercase",
					"label": "Uppercase"
				},
				{
					"value": "capitalize",
					"label": "Capitalize"
				}
			],
			"default": "uppercase",
			"visible_if": "{{ block.settings.text_show == true and block.settings.show_quantity == true }}"
		},
		{
			"type": "header",
			"content": "Button",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "input_width",
			"label": "Width",
			"min": 30,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 100,
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "input_height",
			"label": "Height",
			"min": 30,
			"max": 52,
			"step": 1,
			"unit": "px",
			"default": 52,
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "color",
			"id": "input_background_color",
			"label": "Background Color",
			"default": "#F0F0F0",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "color",
			"id": "input_text_color",
			"label": "Text Color",
			"default": "#212529",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "color",
			"id": "input_hover_text_color",
			"label": "Hover Text Color",
			"default": "#000000",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "select",
			"id": "input_border",
			"label": "Border Style",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "solid",
					"label": "Solid"
				},
				{
					"value": "dashed",
					"label": "Dashed"
				},
				{
					"value": "dotted",
					"label": "Dotted"
				}
			],
			"default": "none",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "input_border_width",
			"label": "Border Thickness",
			"min": 1,
			"max": 10,
			"step": 1,
			"unit": "px",
			"default": 1,
			"visible_if": "{{ block.settings.input_border != \"none\" and block.settings.show_quantity == true }}"
		},
		{
			"type": "color",
			"id": "input_border_color",
			"label": "Border Color",
			"default": "#DFDFDF",
			"visible_if": "{{ block.settings.input_border != \"none\" and block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "input_border_radius",
			"label": "Rounded Corners",
			"min": 0,
			"max": 100,
			"step": 10,
			"unit": "%",
			"default": 100,
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "checkbox",
			"id": "input_border_divide_show",
			"label": "Divide Borders",
			"default": false,
			"visible_if": "{{ block.settings.input_border != \"none\" and block.settings.show_quantity == true }}"
		},
		{
			"type": "text",
			"id": "input_box_shadow_color",
			"label": "Box Shadow",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "header",
			"content": "Margin",
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"label": "Bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0,
			"visible_if": "{{ block.settings.show_quantity == true }}"
		},
		{
			"type": "header",
			"content": "Custom"
		},
		{
			"type": "text",
			"id": "custom_class",
			"label": "Class",
			"info": "You can use this class to add custom styles to the custom HTML. Multiple classes can be added by separating them with a space."
		}
	]
}
{% endschema %}
