{% comment %}
	@pp blocks/static-pagepilot-product-card 1.0.6
{% endcomment %}

{% liquid
	capture properties
		echo '--padding-top: ' | append: block.settings.padding_top | append: 'px;'
		echo '--padding-bottom: ' | append: block.settings.padding_bottom | append: 'px;'
		echo '--padding-left: ' | append: block.settings.padding_left | append: 'px;'
		echo '--padding-right: ' | append: block.settings.padding_right | append: 'px;'
		echo '--padding-top-mobile: ' | append: block.settings.padding_top_mobile | append: 'px;'
		echo '--padding-bottom-mobile: ' | append: block.settings.padding_bottom_mobile | append: 'px;'
		echo '--padding-left-mobile: ' | append: block.settings.padding_left_mobile | append: 'px;'
		echo '--padding-right-mobile: ' | append: block.settings.padding_right_mobile | append: 'px;'

		echo '--gap: ' | append: block.settings.gap | append: 'px;'

		if block.settings.background_color != blank
			echo 'background: ' | append: block.settings.background_color | append: ';'
		endif

		if block.settings.border != 'none' and block.settings.border_color != blank
			echo '--border-width: ' | append: block.settings.border_width | append: 'px;'
			echo '--border-color: ' | append: block.settings.border_color | append: ';'
		endif
	endcapture

	assign classes = 'pp-product-card pp:relative pp:grid pp:auto-rows-max pp:grid-cols-1 pp:gap-(--gap)'

	if block.settings.custom_class != blank
		assign classes = classes | append: ' ' | append: block.settings.custom_class
	endif

	assign classes = classes | append: ' pp:pt-(--padding-top-mobile) pp:pr-(--padding-right-mobile) pp:pb-(--padding-bottom-mobile) pp:pl-(--padding-left-mobile)'
	assign classes = classes | append: ' pp:@3xl:pt-(--padding-top) pp:@3xl:pr-(--padding-right) pp:@3xl:pb-(--padding-bottom) pp:@3xl:pl-(--padding-left)'

	capture border
		render 'pagepilot-border', value: block.settings.border, width_property: '--border-width', color_property: '--border-color'
	endcapture

	assign classes = classes | append: ' ' | append: border

	capture border_radius
		render 'pagepilot-border-radius', value: block.settings.border_radius
	endcapture
	assign classes = classes | append: ' ' | append: border_radius
%}

<div class='{{ classes }}' style='{{ properties }}' {{ block.shopify_attributes }}>
	{% content_for 'blocks' %}
</div>

{% schema %}
{
	"name": "Product Card (PP)",
	"class": "pagepilot-block",
	"blocks": [
		{
			"type": "pagepilot_image"
		},
		{
			"type": "pagepilot_text"
		},
		{
			"type": "pagepilot_button"
		},
		{
			"type": "pagepilot_reviews_number"
		},
		{
			"type": "pagepilot_custom_html"
		},
		{
			"type": "pagepilot_group"
		},
		{
			"type": "pagepilot_product_price"
		},
		{
			"type": "pagepilot_product_title"
		}
	],
	"settings": [
		{
			"type": "range",
			"id": "gap",
			"label": "Gap",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 8
		},
		{
			"type": "color_background",
			"id": "background_color",
			"label": "Background Color"
		},
		{
			"type": "select",
			"id": "border",
			"label": "Border Style",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "solid",
					"label": "Solid"
				},
				{
					"value": "dashed",
					"label": "Dashed"
				},
				{
					"value": "dotted",
					"label": "Dotted"
				}
			],
			"default": "none"
		},
		{
			"type": "range",
			"id": "border_width",
			"label": "Border Thickness",
			"min": 1,
			"max": 10,
			"step": 1,
			"unit": "px",
			"default": 1,
			"visible_if": "{{ block.settings.border != \"none\" }}"
		},
		{
			"type": "color",
			"id": "border_color",
			"label": "Border Color",
			"default": "#000000",
			"visible_if": "{{ block.settings.border != \"none\" }}"
		},
		{
			"type": "range",
			"id": "border_radius",
			"label": "Rounded Corners",
			"min": 0,
			"max": 100,
			"step": 10,
			"unit": "%",
			"default": 50
		},
		{
			"type": "header",
			"content": "Padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"label": "Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"label": "Bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_left",
			"label": "Left",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_right",
			"label": "Right",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"label": "Mobile Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"label": "Mobile Bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_left_mobile",
			"label": "Mobile Left",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_right_mobile",
			"label": "Mobile Right",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "header",
			"content": "Custom"
		},
		{
			"type": "text",
			"id": "custom_class",
			"label": "Class",
			"info": "You can use this class to add custom styles to the advertorial content. Multiple classes can be added by separating them with a space."
		}
	]
}
{% endschema %}
