{% comment %}
	@pp blocks/pagepilot-accordion-row 1.0.5
{% endcomment %}

{% liquid
	capture container_properties
		echo '--padding-top: ' | append: block.settings.padding_top | append: 'px;'
		echo '--padding-bottom: ' | append: block.settings.padding_bottom | append: 'px;'
		echo '--padding-left: ' | append: block.settings.padding_left | append: 'px;'
		echo '--padding-right: ' | append: block.settings.padding_right | append: 'px;'

		if block.settings.border != 'none' and block.settings.border_color != blank
			echo '--border-width: ' | append: block.settings.border_width | default: 0 | append: 'px;'
			echo '--border-color: ' | append: block.settings.border_color | default: 'transparent' | append: ';'
		endif

		if block.settings.background_color != blank
			echo 'background: ' | append: block.settings.background_color | append: ';'
		endif
	endcapture

	assign container_classes = 'pp-accordion-row pp:relative pp:w-full'

	if block.settings.custom_class != blank
		assign container_classes = container_classes | append: ' ' | append: block.settings.custom_class
	endif

	assign container_classes = container_classes | append: ' pp:pt-(--padding-top) pp:pr-(--padding-right) pp:pb-(--padding-bottom) pp:pl-(--padding-left)'

	capture border_radius
		render 'pagepilot-border-radius', value: block.settings.border_radius
	endcapture
	assign container_classes = container_classes | append: ' ' | append: border_radius

	capture border
		render 'pagepilot-border', value: block.settings.border, width_property: '--border-width', color_property: '--border-color'
	endcapture
	assign container_classes = container_classes | append: ' ' | append: border

	assign icon_classes = 'pp:size-(--icon-size) pp:text-(--icon-color)'

	case block.settings.icon_variant
		when 'light'
			assign icon_classes = icon_classes | append: ' pp:stroke-1'
		when 'regular'
			assign icon_classes = icon_classes | append: ' pp:stroke-2'
		when 'bold'
			assign icon_classes = icon_classes | append: ' pp:stroke-3'
	endcase

	assign emoji_classes = 'pp:flex pp:items-center pp:justify-center pp:text-(length:--icon-size)'

	capture summary_properties
		echo '--icon-size: ' | append: block.settings.icon_size | append: 'px;'
		echo '--icon-color: ' | append: block.settings.icon_color | append: ';'
		echo '--font-size: ' | append: block.settings.font_size | append: 'px;'
		echo '--font-size-mobile: ' | append: block.settings.font_size_mobile | append: 'px;'
		echo '--font-color: ' | append: block.settings.text_color | default: 'transparent' | append: ';'
		echo '--font-weight: ' | append: block.settings.weight | default: 'normal' | append: ';'
	endcapture

	assign summary_classes = 'pp:text-(length:--font-size-mobile) pp:font-(--font-weight) pp:text-(--font-color) pp:@3xl:text-(length:--font-size)'

	capture text_transform
		render 'pagepilot-text-transform', value: block.settings.case
	endcapture
	assign summary_classes = summary_classes | append: ' ' | append: text_transform

	capture letter_spacing
		render 'pagepilot-letter-spacing', value: block.settings.letter_spacing
	endcapture
	assign summary_classes = summary_classes | append: ' ' | append: letter_spacing

	assign summary_icon_classes = 'pp:ml-auto pp:hidden pp:transition-transform pp:duration-300 pp:group-open:rotate-180'
	assign summary_icon_classes = summary_icon_classes | append: ' pp:[&>svg]:size-(--section-icon-size) pp:[&>svg]:text-(--section-icon-color)'
%}

<div
	class='{{ container_classes }}'
	style='{{ container_properties }}'
	{{ block.shopify_attributes }}
>
	<details
		class='pp:group pp:w-full pp:cursor-pointer pp:appearance-none pp:outline-none'
		{% if block.settings.expanded %}
			open
		{% endif %}
	>
		<summary
			class='pp:flex pp:w-full pp:appearance-none pp:items-center pp:gap-2 pp:p-0'
			style='{{ summary_properties }}'
		>
			{% if block.settings.show_icon %}
				{% if block.settings.icon_type == 'icon' %}
					<i data-lucide='{{ block.settings.icon }}' class='{{ icon_classes }}'></i>
				{% elsif block.settings.icon_type == 'emoji' %}
					<span class='{{ emoji_classes }}'>{{ block.settings.emoji }}</span>
				{% endif %}
			{% endif %}
			<span class='{{ summary_classes }}'>{{ block.settings.heading_text }}</span>

			<span class='{{ summary_icon_classes }} pp:[.chevron-down_&]:block'>
				<i data-lucide='chevron-down'></i>
			</span>
			<span class='{{ summary_icon_classes}} pp:[.plus_&]:block'>
				<i data-lucide='plus'></i>
			</span>
		</summary>
		<article class='pp:pt-3'>
			{% content_for 'blocks' %}
		</article>
	</details>
</div>

{% schema %}
{
	"name": "Accordion Row (PP)",
	"class": "pagepilot-block",
	"blocks": [
		{
			"type": "pagepilot_text"
		}
	],
	"settings": [
		{
			"type": "header",
			"content": "Heading"
		},
		{
			"type": "text",
			"id": "heading_text",
			"label": "Text",
			"placeholder": "Type your text here..."
		},
		{
			"type": "checkbox",
			"id": "expanded",
			"label": "Expanded by default",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_icon",
			"label": "Show icon",
			"default": true
		},
		{
			"type": "select",
			"id": "icon_type",
			"label": "Type",
			"options": [
				{
					"value": "icon",
					"label": "Icon"
				},
				{
					"value": "emoji",
					"label": "Emoji"
				}
			],
			"default": "icon"
		},
		{
			"type": "text",
			"id": "icon",
			"label": "Icon",
			"default": "truck",
			"visible_if": "{{ block.settings.show_icon == true and block.settings.icon_type == 'icon' }}"
		},
		{
			"type": "text",
			"id": "emoji",
			"label": "Emoji",
			"default": "💖",
			"visible_if": "{{ block.settings.show_icon == true and block.settings.icon_type == 'emoji' }}"
		},
		{
			"type": "range",
			"id": "icon_size",
			"label": "Icon Size",
			"min": 10,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 18,
			"visible_if": "{{ block.settings.show_icon == true }}"
		},
		{
			"type": "select",
			"id": "icon_variant",
			"label": "Icon Variant",
			"options": [
				{
					"value": "light",
					"label": "Light"
				},
				{
					"value": "regular",
					"label": "Regular"
				},
				{
					"value": "bold",
					"label": "Bold"
				}
			],
			"default": "regular",
			"visible_if": "{{ block.settings.show_icon == true and block.settings.icon_type == 'icon' }}"
		},
		{
			"type": "color",
			"id": "icon_color",
			"label": "Icon Color",
			"default": "#212529",
			"visible_if": "{{ block.settings.show_icon == true and block.settings.icon_type == 'icon' }}"
		},
		{
			"type": "header",
			"content": "Typography"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text Color",
			"default": "#212529"
		},
		{
			"type": "range",
			"id": "font_size",
			"min": 10,
			"max": 70,
			"step": 1,
			"unit": "px",
			"label": "Size",
			"default": 14
		},
		{
			"type": "range",
			"id": "font_size_mobile",
			"min": 10,
			"max": 70,
			"step": 1,
			"unit": "px",
			"label": "Mobile Size",
			"default": 14
		},
		{
			"type": "select",
			"id": "weight",
			"label": "Weight",
			"options": [
				{
					"value": "100",
					"label": "Thin"
				},
				{
					"value": "300",
					"label": "Light"
				},
				{
					"value": "400",
					"label": "Regular"
				},
				{
					"value": "500",
					"label": "Medium"
				},
				{
					"value": "600",
					"label": "Semibold"
				},
				{
					"value": "700",
					"label": "Bold"
				},
				{
					"value": "900",
					"label": "Black"
				}
			],
			"default": "400"
		},
		{
			"type": "select",
			"id": "letter_spacing",
			"label": "Letter Spacing",
			"options": [
				{
					"value": "tight",
					"label": "Tight"
				},
				{
					"value": "normal",
					"label": "Normal"
				},
				{
					"value": "loose",
					"label": "Loose"
				}
			],
			"default": "normal"
		},
		{
			"type": "select",
			"id": "case",
			"label": "Case",
			"options": [
				{
					"value": "none",
					"label": "Default"
				},
				{
					"value": "lowercase",
					"label": "Lowercase"
				},
				{
					"value": "uppercase",
					"label": "Uppercase"
				},
				{
					"value": "capitalize",
					"label": "Capitalize"
				}
			],
			"default": "none"
		},
		{
			"type": "header",
			"content": "Background"
		},
		{
			"type": "color_background",
			"id": "background_color",
			"label": "Color"
		},
		{
			"type": "header",
			"content": "Borders"
		},
		{
			"type": "select",
			"id": "border",
			"label": "Border Style",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "solid",
					"label": "Solid"
				},
				{
					"value": "dashed",
					"label": "Dashed"
				},
				{
					"value": "dotted",
					"label": "Dotted"
				}
			],
			"default": "none"
		},
		{
			"type": "color",
			"id": "border_color",
			"label": "Border Color",
			"default": "#000000",
			"visible_if": "{{ block.settings.border != \"none\" }}"
		},
		{
			"type": "range",
			"id": "border_width",
			"min": 1,
			"max": 10,
			"step": 1,
			"unit": "px",
			"label": "Border Thickness",
			"default": 1,
			"visible_if": "{{ block.settings.border != \"none\" }}"
		},
		{
			"type": "range",
			"id": "border_radius",
			"label": "Rounded Corners",
			"min": 0,
			"max": 90,
			"step": 10,
			"unit": "%",
			"default": 0
		},
		{
			"type": "header",
			"content": "Padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"label": "Top",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"label": "Bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_left",
			"label": "Left",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_right",
			"label": "Right",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "header",
			"content": "Custom"
		},
		{
			"type": "text",
			"id": "custom_class",
			"label": "Class",
			"info": "You can use this class to add custom styles to the text. Multiple classes can be added by separating them with a space."
		}
	]
}
{% endschema %}
