{% comment %}
	@pp sections/pagepilot-divider 1.0.8
{% endcomment %}

{% liquid
	assign margin_top = section.settings.margin_top | times: 2
	assign margin_bottom = section.settings.margin_bottom | times: 2
	assign margin_top_mobile = section.settings.margin_top_mobile | times: 2
	assign margin_bottom_mobile = section.settings.margin_bottom_mobile | times: 2

	if section.settings.height > 10
		assign height = section.settings.height | times: 2
	else
		assign height = section.settings.height
	endif

	if section.settings.height_mobile > 10
		assign height_mobile = section.settings.height_mobile | times: 2
	else
		assign height_mobile = section.settings.height_mobile
	endif

	capture properties
		echo '--margin-top: ' | append: margin_top | append: 'px;'
		echo '--margin-bottom: ' | append: margin_bottom | append: 'px;'
		echo '--margin-top-mobile: ' | append: margin_top_mobile | append: 'px;'
		echo '--margin-bottom-mobile: ' | append: margin_bottom_mobile | append: 'px;'
		echo '--height: ' | append: height | append: 'px;'
		echo '--height-mobile: ' | append: height_mobile | append: 'px;'
		if section.settings.color != blank
			echo '--color: ' | append: section.settings.color | append: ';'
		else
			echo '--color: transparent;'
		endif
		if section.settings.background_color != blank
			echo 'background: ' | append: section.settings.background_color | append: ';'
		endif
	endcapture

	assign container_classes = 'pp-divider pp:relative pp:mx-auto pp:h-(--height-mobile) pp:w-full pp:@3xl:h-(--height)'
	assign container_classes = container_classes | append: ' pp:mt-(--margin-top-mobile) pp:mb-(--margin-bottom-mobile) pp:@3xl:mt-(--margin-top) pp:@3xl:mb-(--margin-bottom)'

	if section.settings.show_on_mobile == false
		assign container_classes = container_classes | append: ' pp:hidden pp:@3xl:block pp:@3xl:block'
	endif

	if section.settings.show_on_desktop == false
		assign container_classes = container_classes | append: ' pp:@3xl:hidden pp:@3xl:hidden'
	endif

	case section.settings.layout
		when 'page'
			assign container_classes = container_classes | append: ' pp:max-w-6xl'
		when 'full'
			assign container_classes = container_classes | append: ' pp:max-w-full'
	endcase

	if section.settings.custom_class != blank
		assign container_classes = container_classes | append: ' ' | append: section.settings.custom_class
	endif
	assign container_classes = container_classes | append: ' ' | append: section.id

	assign block_classes = 'pp:absolute pp:left-0 pp:z-1 pp:w-full pp:overflow-hidden pp:leading-none'
	case section.settings.invert
		when true
			assign block_classes = block_classes | append: ' pp:bottom-0 pp:rotate-180'
		when false
			assign block_classes = block_classes | append: ' pp:top-0'
	endcase

	assign svg_classes = 'pp:h-(--height-mobile) pp:w-full pp:fill-(--color) pp:@3xl:h-(--height)'

	if section.settings.flip == true
		assign svg_classes = svg_classes | append: ' pp:-rotate-y-180'
	endif

	if section.settings.shape contains '-reverse'
		assign svg_classes = svg_classes | append: ' pp:rotate-180'
	endif

	case section.settings.shape
		when 'none'
			assign svg_path = '<path d="M0,0 L1200,0 L1200,120 L0,120 Z"></path>'
		when 'waves'
			assign svg_path = '<path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>'
		when 'waves-reverse'
			assign svg_path = '<path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"></path>'
		when 'waves-opacity'
			assign svg_path = '<path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25"></path><path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5"></path><path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"></path>'
		when 'waves-animated'
			assign svg_path = 'waves-animated'
		when 'curve'
			assign svg_path = '<path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z"></path>'
		when 'curve-reverse'
			assign svg_path = '<path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"></path>'
		when 'triangle'
			assign svg_path = '<path d="M1200 0L0 0 598.97 114.72 1200 0z"></path>'
		when 'triangle-reverse'
			assign svg_path = '<path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z"></path>'
		when 'tilt'
			assign svg_path = '<path d="M1200 120L0 16.48 0 0 1200 0 1200 120z"></path>'
		when 'arrow'
			assign svg_path = '<path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z"></path>'
		when 'arrow-reverse'
			assign svg_path = '<path d="M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z"></path>'
		when 'split'
			assign svg_path = '<path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z"></path>'
		when 'split-reverse'
			assign svg_path = '<path d="M600,16.8c0-8.11-8.88-13.2-19.92-13.2H0V120H1200V3.6H619.92C608.88,3.6,600,8.66,600,16.8Z"></path>'
		when 'book'
			assign svg_path = '<path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z"></path>'
		when 'book-reverse'
			assign svg_path = '<path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z"></path>'
	endcase
%}

<div
	class='{{ container_classes }}'
	style='{{ properties }}'
	{{ section.shopify_attributes }}
>
	<div class='{{ block_classes }}'>
		{% if section.settings.shape == 'waves-animated' %}
			<svg
				class='{{ svg_classes }}'
				xmlns='http://www.w3.org/2000/svg'
				xmlns:xlink='http://www.w3.org/1999/xlink'
				viewBox='0 24 150 28'
				preserveAspectRatio='none'
			>
				<defs>
					<path
						id='waves-animated-path'
						d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z'
					></path>
				</defs>
				<g class='pp:waves-animated-1'>
					<use xlink:href='#waves-animated-path' x='50' y='3'></use>
				</g>
				<g class='pp:waves-animated-2'>
					<use xlink:href='#waves-animated-path' x='50' y='0'></use>
				</g>
				<g class='pp:waves-animated-3'>
					<use xlink:href='#waves-animated-path' x='50' y='9'></use>
				</g>
				<g class='pp:waves-animated-4'>
					<use xlink:href='#waves-animated-path' x='50' y='6'></use>
				</g>
			</svg>
		{% else %}
			<svg
				xmlns='http://www.w3.org/2000/svg'
				viewBox='0 0 1200 120'
				preserveAspectRatio='none'
				class='{{ svg_classes }}'
			>
				{{ svg_path }}
			</svg>
		{% endif %}
	</div>
</div>

{% schema %}
{
	"name": "Divider (PP)",
	"class": "pagepilot-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "select",
			"id": "layout",
			"label": "Layout",
			"options": [
				{
					"value": "page",
					"label": "Page"
				},
				{
					"value": "full",
					"label": "Full"
				}
			],
			"default": "full"
		},
		{
			"type": "select",
			"id": "shape",
			"label": "Shape",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "waves",
					"label": "Waves"
				},
				{
					"value": "waves-reverse",
					"label": "Waves Reverse"
				},
				{
					"value": "waves-opacity",
					"label": "Waves Opacity"
				},
				{
					"value": "waves-animated",
					"label": "Waves Animated"
				},
				{
					"value": "curve",
					"label": "Curve"
				},
				{
					"value": "curve-reverse",
					"label": "Curve Reverse"
				},
				{
					"value": "triangle",
					"label": "Triangle"
				},
				{
					"value": "triangle-reverse",
					"label": "Triangle Reverse"
				},
				{
					"value": "tilt",
					"label": "Tilt"
				},
				{
					"value": "arrow",
					"label": "Arrow"
				},
				{
					"value": "arrow-reverse",
					"label": "Arrow Reverse"
				},
				{
					"value": "split",
					"label": "Split"
				},
				{
					"value": "split-reverse",
					"label": "Split Reverse"
				},
				{
					"value": "book",
					"label": "Book"
				},
				{
					"value": "book-reverse",
					"label": "Book Reverse"
				}
			],
			"default": "waves"
		},
		{
			"type": "color",
			"id": "color",
			"label": "Color",
			"default": "#dfdfdf"
		},
		{
			"type": "checkbox",
			"id": "invert",
			"label": "Invert",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "flip",
			"label": "Flip",
			"default": false
		},
		{
			"type": "range",
			"id": "height",
			"min": 1,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Height",
			"default": 1
		},
		{
			"type": "range",
			"id": "height_mobile",
			"min": 1,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile Height",
			"default": 1
		},
		{
			"type": "color_background",
			"id": "background_color",
			"label": "Background color"
		},
		{
			"type": "header",
			"content": "Visibility"
		},
		{
			"type": "checkbox",
			"id": "show_on_mobile",
			"label": "Show on mobile",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_on_desktop",
			"label": "Show on desktop",
			"default": true
		},
		{
			"type": "header",
			"content": "Margin"
		},
		{
			"type": "range",
			"id": "margin_top",
			"label": "Top",
			"min": -50,
			"max": 50,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"label": "Bottom",
			"min": -50,
			"max": 50,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"label": "Mobile Top",
			"min": -50,
			"max": 50,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"label": "Mobile Bottom",
			"min": -50,
			"max": 50,
			"step": 1,
			"unit": "px",
			"default": 0
		},
		{
			"type": "header",
			"content": "Custom"
		},
		{
			"type": "text",
			"id": "custom_class",
			"label": "Class",
			"info": "You can use this class to add custom styles to the text. Multiple classes can be added by separating them with a space."
		}
	],
	"presets": [
		{
			"name": "Divider (PP)",
			"category": "PagePilot",
			"settings": {
				"shape": "none",
				"color": "#dfdfdf"
			}
		},
		{
			"name": "Shape Divider (PP)",
			"category": "PagePilot",
			"settings": {
				"shape": "waves-opacity",
				"color": "#dfdfdf",
				"invert": true,
				"height": 50,
				"height_mobile": 50
			}
		}
	]
}
{% endschema %}
